{% extends "layouts.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
<style>
    /* Center the form on the screen */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
    }
</style>
<div class="container">
    {% comment %} <h1 class="mt-4">{{ form.instance.pk|yesno:"Edit User,Create New User" }}</h1> {% endcomment %}
    <form method="post" enctype="multipart/form-data" class = "row gy-2 gx-3 align-items-center">
        {% csrf_token %}
        <div class="form-group">
            <label for="user.image.url">Profile Image</label>
            <input type="file" class="form-control-file" id="user.image.url">
        </div>
        <div class="form-group">
            <label for ="user.full_name">Full Name</label>
            <input type="text" class = "form-control" id = "user.full_name">
        </div>
        <div class="form-group">
            <label for ="user.address">Address</label>
            <input type="text" class = "form-control" id = "user.address">
        </div>
        <div class="form-group">
            <label for ="user.birthplace">Birthplace</label>
            <input type="text" class = "form-control" id = "user.birthplace">
        </div>
        {% comment %} <div class="form-group row">
            <label for="user.date_of_birth">Date of Birth</label>
            <div class="col">
                <input type="text" class = "form-control" name="day" id = "user.date_of_birth">
            </div>
            <div class="col-auto">/</div>
            <div class="col">
                <input type="text" class = "form-control" name="month" id = "user.date_of_birth">
            </div>
            <div class="col-auto">/</div>
            <div class="col">
                <input type="text" class = "form-control" name="year" id = "user.date_of_birth">
            </div>
        </div> {% endcomment %}
        <div class="form-group">
            <label for ="user.date_of_birth">Date of Birth</label>
            <input type="text" class = "form-control" id = "user.date_of_birth">
        </div>
        <div class="form-group">
            <label for ="user.education">Education</label>
            <input type="text" class = "form-control" id = "user.education">
        </div>
        <div class="form-group">
            <label for ="user.gender">Gender</label>
            <select class = "form-select" id = "user.gender">
                <option id = "">Select Gender</option>
                <option id = "Male">Male</option>
                <option id = "Female">Female</option>
                <option id = "Notcool">Not Cool</option>
            </select>
        </div>
        <div class="form-group">
            <div class="col">
                <label for ="user.phone_number">Phone Number</label>
            </div>
            <div class="col">
                <input type="text" class = "form-control" id = "user.phone_number">
            </div>
        </div>
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% comment %} {{form|crispy}} {% endcomment %}
        <div class = "col-auto">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock  %}