{% extends "layouts.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}
<style>
    /* Center the form on the screen */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<div class="container">
    {% comment %} <h1 class="mt-4">{{ form.instance.pk|yesno:"Edit User,Create New User" }}</h1> {% endcomment %}
    <form method="post" enctype="multipart/form-data" class = "row gy-2 gx-3 align-items-center">
        {% csrf_token %}
        {{ form.as_div }}
        <div class = "col-auto">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock  %}